<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<bean id="braveKnightXml" class="com.aaron.ren.ioc.threetypes.xml.BraveKnightXml" autowire="byType" scope="singleton">
	</bean>

	<bean id="weaponXml" class="com.aaron.ren.ioc.threetypes.xml.WeaponXml">
		<property name="type" value="knife"/>
	</bean>


<!--
	<bean id="car" class="com.aaron.ren.ioc.beanfactoryandfactorybean.CarFactoryBean">

		<property name="carInfo" value="红旗CA72,200,20000.00"/>

	</bean>
-->



</beans>